{
  "postgresql": {
    "password": "youshallnotpass",
    "user": "ladybug",
    "database": "ladybug"
  },
  "session": {
    "secret": "Secret"
  },
  "rethinkdb": {
    "user": "ladybug",
    "password": "",
    "db": "ladybug"
  },
  "pastebin": "password"
}
