<html>
  <head>
    <title>Error</title>
    <%- include("partials/header") %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <h1>Oops, an error occured or you did something wrong</h1>
    <h2><%= message %></h2>
    <%- include("partials/scripts") %>
  </body>
</html>
