<html>
  <head>
    <title>Ladybug Bot</title>
    <%- include("partials/header") %>
    <%- include("partials/meta", { description: "A multipurpose Discord Bot with dashboard, invite it in your server today!" }) %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <h1>Hello, World!</h1>
    <p class="btn btn-primary">Test</p>
    <%- include("partials/scripts") %>
  </body>
</html>
