<html>
  <head>
    <title>Ladybug Pastebin</title>
    <%- include("partials/header") %>
    <%- include("partials/meta", { description: "Paste any code and view it on the fly! currently only a few verified users have access" }) %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <h1>Ladybug Pastebin</h1>
    <form method="POST" action="/pastebin">
      <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" type="content" class="form-control" id="content">
        </textarea>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp">
        <small id="passwordHelp" class="form-text text-muted">Only a few people gets access to post</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include("partials/scripts") %>
  </body>
</html>
